/* Versão mobile */

@media (max-width: 440px) {
  body {
    background: #000;
  }
  header {
    width: 100%;
    background-color: rgb(184, 221, 115);
        .nav-links {
            display: none;
        }
        .cart-icon {
            font-size: 1.5rem;
        }
  }

  .hero {
    .hero-container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      .text-hero {
        position: absolute;
        bottom: 80px;
        left: 50%;
        transform: translateX(-50%);
      }
      .text-hero h1,
      .text-hero span {
        display: none;
      }
      .hero-image {
        width: 100%;
        height: auto;
      }
    }
  }

  aside {
    display: none;
  }
  .area__produtos {
    width: 100%;
    display: flex;
    padding: .2rem;
    gap: 1.4rem .4rem;
    flex-wrap: wrap;
    .produto {
        height: 220px;
        flex-basis: calc(50% - 0.4rem);
        h4 {
            font-size: 12px;
        }
    }
  }

  .newsletter-box {
    width: 100%;
    padding: 1rem;
  }

  footer {
    padding: 0.5rem;
    .footer-grid {
      grid-template-columns: auto auto;
    }
  }
  
}
