/* Versão mobile */

@media (max-width: 480px) {
  
  header {
    width: 100%;
    background-color: rgb(56, 71, 90);
        .nav-links {
            display: none;
        }
        .cart-icon {
            font-size: 1.5rem;
        }
  }

  .hero {
    height: 60%;
    .hero-container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      .text-hero {
        position: absolute;
        bottom: 80px;
        left: 50%;
        transform: translateX(-50%);
      }
      .text-hero h1,
      .text-hero span {
        display: none;
      }
      .hero-image {
        width: 100%;
        height: auto;
      }
    }
  }

  aside {
    /* display: none; */
    height: calc(100vh -60px);
    background: rgba(0, 0, 0, 0.801);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    position: fixed;
    top: 0;
    left: -100%;
    bottom: 0;
    z-index: 999;
    transition: left 0.3s ease-in-out;
    overflow-y: scroll;
    .categoria {
      width: 100%;
    }
  }
  ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent; /* make scrollbar transparent */
  }
  .container--produtos aside 
.categoria 
.categoria--titulos {
    font-size: 1.2rem;
    padding: 0.5rem;
    color: #fff;
    background: transparent;
  }

  .container--produtos #filterButton {
    display: block;
    top: 100px;
    right: 20px;
    left: none;
  }
  
  .area__produtos {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: .2rem;
    gap: 1.4rem .4rem;
    flex-wrap: wrap;
    .produto {
        height: 220px;
        flex-basis: calc(50% - 0.4rem);
        h4 {
            font-size: 12px;
        }
    }
  }

  .curso--de--importacao 
  .curso--de--importacao--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .curso--de--importacao--image {
        width: 100%;
        height: auto;
    }
    .curso--de--importacao--info {
        text-align: center;
        h2 {
            font-size: 1.5rem;
        }
        p {
            font-size: 1rem;
        }
        button {
            padding: 0.5rem 1.3rem;
            border: none;
            border-radius: 2rem;
            background-color: #ff0000;
            color: #fff;
            cursor: pointer;
        }
    }
  }

  .newsletter-box {
    width: 100%;
    padding: 1rem;
    .newsletter-form input {
        width: 100%;
        padding: 0.5rem;
        border: none;
        border-radius: 2rem;
        margin-bottom: 1rem;
    }
    .newsletter-form button {
        padding: 0.5rem 1.3rem;
        border: none;
        border-radius: 2rem;
        background-color: #ff0000;
        color: #fff;
        cursor: pointer;
    }
  }

  footer {
    padding: 0.5rem;
    .footer-grid {
      grid-template-columns: auto auto;
    }
  }
  
}
